<tr class="bg">
	<td><input type="checkbox" name="chk[]" value=""></td>
	<td class="first style2"><%=user.login%></td>
    <td class="first style2"><%=user.login%></td>
    <td><%=user.email%></td>
    <td><%=user.password%></td>
    
    <td><%=user.country%></td>
   
    <td><%=user.city%></td>
     
    <td><%=user.created_at%></td>
	<td><a href="index.php?act=3&amp;id=3&amp;st=0" onclick="return confirm('Are you sure you want to change status?')"><img src="/images/add-icon1.png" width="16" height="16" alt="add"></a></td>
    <td><a href="index.php?act=4&amp;id=3&amp;st=0" onclick="return confirm('Are you sure you want to change status?')"><img src="/images/add-icon1.png" width="16" height="16" alt="add"></a></td>
	<td class="last"><a href="index.php?act=2&amp;id=3" onclick="return confirm('Are you sure you want to delete?')"><img src="/images/hr.gif" width="16" height="16" alt="add"></a></td>
	<td><a href="add-user.php?act=1&amp;id=3"><img src="/images/save-icon.gif" width="16" height="16" alt="save"></a></td>
					
</tr>